html::before {
    content: "html";
}

html::before, main::before, body::before, header::before, footer::before {
    color: #7fc1ff;
}

nav::before, section::before, article::before, aside::before {
    color: #9779ec;
}

h1::before {
    content: "h1";
    color: #ff994f;
}

p::before {
    content: "p";
    color: #f36dff;
}
::before {
    font-size: 17px;
}

html {
    margin: 10px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 20px;
    line-height: 25px;
}

body::before {
    content: "body";
}

main::before {
    content: "main";
}

article::before {
    content: "article";
}

aside::before {
    content: "aside";
}

body, h1, header, footer, main, nav, section, article, aside, p{
    margin: 10px;
    padding: 25px 25px 20px;
    border-radius: 5px;
}

body {
    border: 3px dashed #7fc1ff;
    max-width: 1200px;
}

h1 {
    border: 3px solid #ff994f;
    background-color: #fff7f1;
    line-height: 40px;
}

header, footer, main {
    border: 3px solid #7fc1ff;
    background-color: #f3faff;
}

nav, section, article, aside {
    border: 3px solid #9779ec;
    background-color: rgba(210, 207, 245, 0.251);
}

p {
    border: 3px solid #f36dff;
    background-color: #fdecff;
}

header::before {
    content: "header";
}

nav::before {
    content: "nav";
}

section::before {
    content: "section";
}

footer::before {
    content: "footer";
}